PORT=5000
MONGODB_URI=mongodb+srv://abdullah543711326_db_user:Hb0tmayjwgUib2y5@adveracluser.wbvwckm.mongodb.net/?appName=AdveraCluser
MONGODB_DB=Advera
PORTFOLIO_COLLECTION=portfolios
BLOG_COLLECTION=blogs
BOOKING_COLLECTION=bookings

MAIL_HOST=smtp.yourprovider.com
MAIL_PORT=587
MAIL_USER=your_smtp_user
MAIL_PASS=your_smtp_password
MAIL_FROM="Advera Notifications" <no-reply@yourdomain.com>
MAIL_TO=team@yourcompany.com
APP_BASE_URL=http://localhost:5000

CLOUDINARY_CLOUD_NAME=dg1asf18t
CLOUDINARY_API_KEY=653718954316255
CLOUDINARY_API_SECRET=PLorjKtpNEojlcRypQxrr-MCem0
NODE_ENV=development
